<span class="setting">
  <% if user_signed_in? %>
    <div class="vertical_index">
      <div class="setting_image up-image">
        <%= image_tag @related_up_image.up_image.url %>
      </div>
      <div class ="setting_image down-image">
        <%= image_tag @related_down_image.down_image.url %>
      </div>
      <div class="set_btn" id="set_btn_bottom">
      <label>
        <button type="button" value="change_btn" class="change_btn"><a href="/">CHANGE</a></button>
        </label>
      </div>
    </div>
    <div class="set_btn" id="set_btn_right">
    <label>
      <button type="button" value="change_btn" class="change_btn"><a href="/">CHANGE</a></button>
      </label>
    </div>
  <%else%>
    <div>
    </div>
  <% end %>
</span>
